<h1>Burgers To Eat</h1>
<div class="container">
    <p>Burgers List To Devour</p>
    <ul>
        {{#each burgers}}{{#unless devoured}}
        <li>
            <p>
                {{id}}. {{burger_name}}
                <button data-burgerId="{{id}}" id="test" class="updateBurger">Devour It!</button>
                <button data-burgerId="{{id}}" class="delBurger">Delete</button>
            </p>
        </li>
        {{/unless}}{{/each}}
    </ul>
</div>
<div class="container">
    <p>Burgers Devoured!</p>
    <ul>
        {{#each burgers}}{{#if devoured}}
        <li>
            <p>
                {{id}}. {{burger_name}}
                <button data-burgerId="{{id}}" class="delBurger">Delete</button>
            </p>
        </li>
        {{/if}} {{/each}}
    </ul>
</div>

<div id="addBurgerDiv">

    <h2>Add a burger</h2>
    <form id="addBurger" class="">
        <textarea placeholder="Pleae enter a burger's name here..." type="text" name="burger"
            id="addBurgerSection"></textarea>
        <button type="submit">Add Burger!</button>
    </form>
</div>

<button id="check">click here</button>




<script type="text/javascript">
    $("#check").click(function () {
        console.log("checked!")
    })

    $(".updateBurger").click(function (event) {
        console.log("hey")
        event.preventDefault();
        console.log("hey")
        let idToBeUpdated = $(this).data("burgerId");
        console.log(idToBeUpdated);
        let burgerToUpdate = {
            id: idToBeUpdated
        };
        $.ajax("/" + idToBeUpdated, {
            type: "PUT",
            data: burgerToUpdate
        }).then(function () {
            console.log("Devoured!")
        })
    });

    $(".delBurger").click(function (event) {
        event.preventDefault();
        let idToBeDeleted = $(this).data("burgerId");
        let burgerToDelete = {
            id: idToBeDeleted
        }
        $.ajax("/" + idToBeDeleted, {
            type: "DELETE",
            data: burgerToDelete
        }).then(function () {
            console.log("Burger deleted!")
        })
    })

    $("#addBurger").on("submit", function (event) {
        event.preventDefault();
        let burgerToAdd = {
            burger_name: $("#addBurger [name=burger]").val().trim()
        };
        $.ajax("/", {
            type: "POST",
            data: burgerToAdd
        }).then(function () {
            console.log("Burger Added!");
            location.reload();
        })
    })

    $("#test").click(function () {
        console.log("wtf")
    })

</script>