<h1>Burgers To Eat</h1>
<div class="container">
    <p>Burgers List To Devour</p>
    <ul>
        {{#each burgers}}{{#unless devoured}}
        <li>
            <p>
                {{id}}. {{burger_name}}
                <button data-burgerid="{{id}}" class="updateBurger">Devour It!</button>
                <button data-burgerid="{{id}}" class="delBurger">Delete</button>
            </p>
        </li>
        {{/unless}}{{/each}}
    </ul>
</div>
<div class="container">
    <p>Burgers Devoured!</p>
    <ul>
        {{#each burgers}}{{#if devoured}}
        <li>
            <p>
                {{id}}. {{burger_name}}
                <button data-burgerid="{{id}}" class="delBurger">Delete</button>
            </p>
        </li>
        {{/if}} {{/each}}
    </ul>
</div>

<div id="addBurgerDiv">

    <h2>Add a burger</h2>
    <form id="addBurger" class="">
        <textarea placeholder="Pleae enter a burger's name here..." type="text" name="burger"
            id="addBurgerSection"></textarea>
        <button type="submit">Add a Burger!</button>
    </form>
</div>






<script type="text/javascript">
    $(".updateBurger").click(function (event) {
        event.preventDefault();
        let idToBeUpdated = $(this).data("burgerid");
        console.log(idToBeUpdated)
        $.ajax(`/${idToBeUpdated}`, {
            type: "PUT"
        }).then(() => {
            console.log("Devoured!");
            reloadPage();
        })
    });

    $(".delBurger").click(function (event) {
        event.stopPropagation();
        let idToBeDeleted = $(this).data("burgerid");
        $.ajax({
            method: "DELETE",
            url: `/${idToBeDeleted}`
        }).then(() => {
            console.log("Burger deleted!");
            reloadPage();
        })
    })

    $("#addBurger").on("submit", function (event) {
        event.preventDefault();
        let burgerToAdd = {
            burger_name: $("#addBurger [name=burger]").val().trim()
        };
        $.ajax("/", {
            method: "POST",
            data: burgerToAdd
        }).then(function () {
            console.log("Burger Added!");
            reloadPage();
        })
    })

    const reloadPage = () => {
        location.reload(true);
    }
</script>